# Segredos
.env

# --- Backend (Maven/Java) ---
backend/target/
*.iml

# --- Frontend (Angular/Node) ---
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/out-tsc/

# --- IDEs ---
.idea/
.vscode/

# --- Sistema operacional ---
.DS_Store
Thumbs.db
